
<div class='page__body'>
  <div style='padding-bottom: 32px'>
    <div class="text-center">
      <h1 style='padding-top: 24px;'><b>Welcome to metaphactory</b></h1>
      <h4>
      <p>This demo system is based on the open Nobel Prize knowledge graph</p></h4>
      <p style='margin-top: 24px; font-size: 12px;'>If you are interested to see how this demo is built, feel free to check out its source code on <a href='https://github.com/metaphacts/nobel-prize' target='_blank'>github</a>.</p>
    </div>
  </div>
  <div class="text-center">
    <img style='height: 80px' src='/assets/nobel-logo.svg'>
  </div>
  <div class='nobelSearch' style="padding-top: 32px;">  
    {{> Platform:SearchResultsFragments::defaultStyle}}
    <semantic-search id="universal-search" 
    relations='{
      "<http://data.nobelprize.org/terms/laureate-category>": [{
        "kind": "resource",
        "queryPattern": "
          $subject <http://data.nobelprize.org/terms/nobelPrize>/<http://data.nobelprize.org/terms/category> ?__value__ .
        "
      }],
      "<http://metaphacts.com/relation/laureate-country>": [{
        "kind": "resource",
        "queryPattern": "
          $subject <http://dbpedia.org/ontology/birthPlace> ?__value__. ?__value__ a <http://dbpedia.org/ontology/Country>.
        "
      }],
      "<http://metaphacts.com/relation/nobel-country>": [{
        "kind": "resource",
        "queryPattern": "
          $subject <http://purl.org/dc/terms/hasPart>/<http://data.nobelprize.org/terms/laureate>/<http://dbpedia.org/ontology/birthPlace> ?__value__. ?__value__ a <http://dbpedia.org/ontology/Country>. 
        "
      }],
      "<http://www.metaphacts.com/ontology/sample/life_span>": [{
        "kind": "date-range",
        "queryPattern": "
          $subject
            <http://dbpedia.org/property/dateOfBirth> ?birth ;
            <http://dbpedia.org/property/dateOfDeath> ?death ;
          FILTER(?death >= ?__dateBeginValue__) .
          FILTER(?birth <= ?__dateEndValue__) .
        "
      }]
      }'
      search-profile='{
      "categories": [
        {
          "iri": "<http://data.nobelprize.org/terms/Laureate>",
          "label": "Laureate",
          "thumbnail": "/assets/laureate.svg"
        },
        {
          "iri": "<http://data.nobelprize.org/terms/NobelPrize>",
          "label": "Nobel Prize",
          "thumbnail": "/assets/nobel.svg"
        },
        {
          "iri": "<http://data.nobelprize.org/terms/Category>",
          "label": "category",
          "includeAsDomain": false
        },
        {
          "iri": "<http://data.nobelprize.org/terms/laureate-category>",
          "label": "category",
          "includeAsDomain": false
        },
        {
          "iri": "<http://dbpedia.org/ontology/affiliation>",
          "label": "affiliation",
          "includeAsDomain": false
        },
        {
          "iri": "<http://dbpedia.org/property/dateOfBirth>",
          "label": "date of birth",
          "includeAsDomain": false
        },
        {
        	"iri": "<http://dbpedia.org/ontology/Country>",
          "label": "Country",
          "includeAsDomain": false
        }
      ],
      "relations": [
        {
          "iri": "<http://data.nobelprize.org/terms/category>",
          "label": "category",
          "hasDomain": "<http://data.nobelprize.org/terms/NobelPrize>",
          "hasRange": "<http://data.nobelprize.org/terms/Category>"
        },
        {
          "iri": "<http://data.nobelprize.org/terms/year>",
          "label": "year",
          "hasDomain": "<http://data.nobelprize.org/terms/NobelPrize>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#integer>"
        },
        {
          "iri": "<http://metaphacts.com/relation/nobel-country>",
          "label": "country",
          "hasDomain": "<http://data.nobelprize.org/terms/NobelPrize>",
          "hasRange": "<http://dbpedia.org/ontology/Country>"
        },
        {
          "iri": "<http://data.nobelprize.org/terms/laureate-category>",
          "label": "category",
          "hasDomain": "<http://data.nobelprize.org/terms/Laureate>",
          "hasRange": "<http://data.nobelprize.org/terms/laureate-category>"
        },
        {
          "iri": "<http://dbpedia.org/ontology/affiliation>",
          "label": "affiliation",
          "hasDomain": "<http://data.nobelprize.org/terms/Laureate>",
          "hasRange": "<http://dbpedia.org/ontology/affiliation>"
        },
        {
          "iri": "<http://dbpedia.org/property/dateOfBirth>",
          "label": "date of birth",
          "hasDomain": "<http://data.nobelprize.org/terms/Laureate>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#date>"
        },
        {
          "iri": "<http://metaphacts.com/relation/laureate-country>",
          "label": "country",
          "hasDomain": "<http://data.nobelprize.org/terms/Laureate>",
          "hasRange": "<http://dbpedia.org/ontology/Country>"
        },
        {
          "iri": "<http://xmlns.com/foaf/0.1/gender>",
          "label": "gender",
          "hasDomain": "<http://data.nobelprize.org/terms/Laureate>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#string>"
        },
        {
          "iri": "<http://data.nobelprize.org/terms/nobelPrize>",
          "label": "nobel prize",
          "hasDomain": "<http://data.nobelprize.org/terms/Laureate>",
          "hasRange": "<http://data.nobelprize.org/terms/NobelPrize>",
          "inverse": {
            "iri": "<http://data.nobelprize.org/terms/nobelPrize-inverse>",
            "label": "laureate"
          }
        }
      ]
    }'
     categories='{
      "<http://data.nobelprize.org/terms/Category>": [
        {
          "queryPattern": "$subject ?__relation__ ?__value__",
          "kind": "hierarchy",
          "treePatterns": {
            "kind": "simple",
            "scheme": "http://data.nobelprize.org/terms-ext/vocabulary"
          }
        }
      ]
    }'>
      <div class="search">
        <semantic-search-query-universal id="universal-search" 
        query='
          PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
          PREFIX keywordsearch: <http://www.metaphacts.com/ontologies/platform/service/keywordsearch/>
          SELECT ?subject WHERE {
            ?subject a ?__domain__
            FILTER(?__keywordPattern__)
            FILTER(?__expressionPattern__)
          }'
        count-query="
          PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
          PREFIX keywordsearch: <http://www.metaphacts.com/ontologies/platform/service/keywordsearch/>
          SELECT (COUNT(*) as ?count) WHERE {
            FILTER(?__keywordPattern__)
          }">
        </semantic-search-query-universal>
        <semantic-search-facet-store id="facet"></semantic-search-facet-store>
        <semantic-search-result-group template="{{> searchResultGroupTemplate}}">
          <template id="searchResultGroupTemplate">
            <div class="searchTopMenu">
              {{> Platform:SearchResultsFragments::startButton}}
              {{> Platform:SearchResultsFragments::clearDomain}}
            </div>
            {{> ::custom-searchResultGroupTemplate
              showKnowledgePanel=true
              showDomainSelector=true
              showExplorationFacets=true
              showSaveSearchResultActions=true
            }}
          </template>
        </semantic-search-result-group>
      </div>
    </semantic-search>
  </div>
    <div style="padding-bottom: 24px; padding-top: 24px;">
      <div class="text-center" style="font-size: 12px;">
          Powered by <a href="https://metaphacts.com/product" target="_blank"><img height="15" style="top: 0px; position: relative;" src="/assets/metaphactory-logo-horizontal.png"></a>. <p style='margin-top: 24px;'>With any feedback or questions, please reach out to info@metaphacts.com.</p> 

      </div>
    </div>


</div>

<template-fragment export id='custom-searchResultGroupTemplate' params='{
  "showExplorationFacets": {
    "required": false,
    "type":"boolean",
    "default": true,
    "description": "If enabled, facets will be shown when exploring all entities of a domain without further search conditions being formulated. Consider to disable this option to improve performance on large datasets with millions of entities."
  },
  "showDomainSelector": {
    "required": false,
    "type":"boolean",
    "default": true,
    "description": "If enabled, the domain selector will be shown in the search results for configured categories."
  },
  "showKnowledgePanel": {
    "required": false,
    "type": "boolean",
    "default": false,
    "description": "If enabled, the knowledge panel for a corresponding resource will be shown when clicking on the title of a search result item."
  },
  "showSaveSearchResultActions": {
    "required": false,
    "type": "boolean",
    "default": false,
    "description": "If enabled, the search result action \"Save Set\" will be shown when a domain is selected."
  },
  "enableMultiExploreRelated": {
    "required": false,
    "type": "boolean",
    "default": "true",
    "description": "If enabled, search results can be selected to explore results for any of them."
  }
}'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  <div class='domainSelectorAndFacets'>
    {{#if (cond-not hasConjuncts)}}
      {{#unless (cond-eq showDomainSelector false)}}
      <semantic-search-query-universal-domain-selector target='{{queryFormulationComponentId}}'></semantic-search-query-universal-domain-selector>
      {{/unless}}
    {{/if}}
    {{#if (cond-or (cond-neq showExplorationFacets false) keyword hasConjuncts)}}
        <semantic-search-facet-holder>
          <semantic-search-facet-group 
            default-settings='{"sorting": "alpha-asc",
            "headerTemplate": "{{> default-header}}"}'
            variant='horizontal'>
            <template id='default-header'>
              <div class='SemanticSearchFacet--relationHeader croppableHeader'>
                {{#if (cond-eq $relation.label.value "nobel prize")}}
                <span class="material-symbols-outlined">award_star</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "category")}}
                <span class="material-symbols-outlined">category</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "affiliation")}}
                <span class="material-symbols-outlined">account_balance</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "date of birth")}}
                <span class="material-symbols-outlined">cake</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "country")}}
                <span class="material-symbols-outlined">location_on</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "gender")}}
                <span class="material-symbols-outlined">transgender</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "year")}}
                <span class="material-symbols-outlined">calendar_month</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{#if (cond-eq $relation.label.value "laureate")}}
                <span class="material-symbols-outlined">school</span>&nbsp;{{$relation.label.value}}
                {{else}}
                {{$relation.label.value}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
              </div>
            </template>
          </semantic-search-facet-group>
        </semantic-search-facet-holder>
    {{/if}}
  </div>
  <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
  <semantic-search-result-holder>
    {{#if domain}}
      <semantic-search-result domain='{{domain.iri}}'>
        <div class='resultTemplate'>
          {{#> @partial-block category=domain selected=true searchKeyword=keyword}}
            {{> Platform:SearchResultsCustomization::custom-defaultResultsTemplate}}
          {{/@partial-block}}
        </div>
      </semantic-search-result>
      {{#if showSaveSearchResultActions}}
        {{> ::search-result-save-set-action}}
      {{/if}} 
    {{else}}
      {{#each categories as |category|}}
        <div class='resultTemplate'>
          <semantic-search-result domain='{{category.iri}}'>
            {{#> @partial-block category=category selected=false searchKeyword=../keyword searchId=../searchId queryFormulationComponentId=../queryFormulationComponentId hasConjuncts=../hasConjuncts limit=../limit}}
              {{> Platform:SearchResultsFragments::defaultResultsTemplate}}
            {{/@partial-block}}
          </semantic-search-result>
        </div>
      {{/each}}
    {{/if}}
  </semantic-search-result-holder>
</template-fragment>

<template-fragment id='search-result-save-set-action'>
  <div class='saveSearchAsSet'>
    <semantic-search-action-save-set-result id='save-set-result-action'>
      <button class="btn btn-outline-secondary">Save As Set</button>
    </semantic-search-action-save-set-result>
  </div>
</template-fragment>
