{{> Platform:KnowledgePanelStyles}}

<div class='knowledge-panel'>
  <div class='knowledge-panel__header'>
    <mp-popover>
      <mp-popover-trigger placement='bottom' trigger='["hover", "focus"]'>
        <div class='knowledge-panel__title'>
          <mp-label iri='{{page-resource}}'></mp-label>
          <br>
          <semantic-query 
            query='
            SELECT DISTINCT ?desc  WHERE {
              <{{page-resource}}> owl:sameAs ?entity.
              FILTER (!isBlank(?entity))
              SERVICE wiki:sparql {
                ?entity <http://schema.org/description> ?desc.
                FILTER(LANG(?desc)="en")
              }    
            } '
            template='{{> template}}'>
            <template id='template'>
              {{#each bindings}}
              <p style="font-size: x-small;">{{desc.value}}</p>
              {{/each}}
            </template>
          </semantic-query>
        </div>
      </mp-popover-trigger>
      <mp-popover-content>
        <mp-label iri='{{page-resource}}'></mp-label>
      </mp-popover-content>
    </mp-popover>
  </div>
  <div class='knowledge-panel__content'>
    <div class='knowledge-panel__link'>
      <semantic-link iri='{{page-resource}}'>
        <i class='fa fa-link'></i><span class='knowledge-panel__link-text'>Navigate to resource</span>
      </semantic-link>
    </div>
    <div class='knowledge-panel__uri'>
      <div title='{{page-resource}}' class='knowledge-panel__uri-text'>
        <b>URI:</b> {{page-resource}}
      </div>
      <mp-copy-to-clipboard text='{{page-resource}}'>
        <button class='btn btn-link btn-sm knowledge-panel__uri-copy-button'>
          <i class='fa fa-clipboard'></i>
        </button>
      </mp-copy-to-clipboard>
    </div>
    <semantic-query query="SELECT DISTINCT ?type WHERE { <{{page-resource}}> a ?type }"
      template='{{> template}}'>
      <template id='template'>
        <b>Type</b>:
        {{#each bindings}}
          {{#if (isIri type)}}
            <mp-label iri='{{type.value}}'></mp-label>
          {{else}}
            {{type.value}}
          {{/if}}
          {{#unless @last}},&nbsp;{{/unless}}
        {{/each}}
      </template>
    </semantic-query>
    <div class='knowledge-panel__datasets'>
        {{#> Assets:DatasetsHelpers::datasets-list-for-iri iri=(page-resource)}}
        {{/Assets:DatasetsHelpers::datasets-list-for-iri}}
    </div>
  </div>
  <div style='padding: 8px;' >
    <semantic-query
      query='
        SELECT DISTINCT (GROUP_CONCAT(DISTINCT STR(?name) ; separator=", ") as ?laureates) ?category ?year (GROUP_CONCAT(DISTINCT STR(?motivation) ; separator=" & ") as ?motivations) WHERE {
            <{{page-resource}}> <http://data.nobelprize.org/terms/category> ?category;
              <http://data.nobelprize.org/terms/year> ?year;
              ^<http://data.nobelprize.org/terms/nobelPrize> ?laureate;
              <http://purl.org/dc/terms/hasPart> ?LaureateAward.
          ?LaureateAward <http://data.nobelprize.org/terms/laureate> ?Laureate;
                        <http://data.nobelprize.org/terms/motivation> ?motivation.
          ?laureate rdfs:label ?name.
          FILTER(LANG(?motivation)="en")
        } GROUP BY ?category ?year' 
    template='{{> template}}'>
    <template id='template'>
      {{#each bindings}}
      <p>The Nobel Prize in <mp-label iri="{{category.value}}"></mp-label> {{year.value}} was awarded to {{laureates.value}} "{{motivations.value}}"</p>
      {{/each}}
    </template>
    </semantic-query>
    <div class="row row-cols-md-8">
      <semantic-query
        query='
          SELECT DISTINCT ?laureate ?share (1/?share*100 as ?percent) WHERE {
            BIND(<{{page-resource}}> as ?s)
            ?s <http://purl.org/dc/terms/hasPart> ?LaureateAward.
            ?LaureateAward <http://data.nobelprize.org/terms/laureate> ?laureate;
                          <http://data.nobelprize.org/terms/share> ?share.
          }' 
        template='{{> template}}'>
      <template id='template'>
        {{#each bindings}}
          <bs-card style='margin: 5px; width: 100%;'>
            <bs-card-body>
              <div style='display: flex; flex-direction: row'>
                <semantic-query 
                  query='
                    SELECT DISTINCT (REPLACE(STR(SAMPLE(?images)), "http", "https", "i") AS ?image) WHERE {
                      {{laureate}} owl:sameAs ?entity.
                      FILTER (!isBlank(?entity))
                      SERVICE wiki:sparql {
                        ?entity wdt:P18 ?images.
                      } 
                    }'
                  template='{{> template}}'>
                <template id='template'>
                  {{#each bindings}}
                  <div style='padding-right: 16px;'>
                    <img src='{{image.value}}' style="height: 50px; width: 45px; object-fit: cover;">
                  </div>
                  {{/each}}
                </template>
                </semantic-query>
                <div> 
                  <bs-card-title class="text-break title-kp mb-1">
                    <h2 class='h5' style='color: #bb8a35;'><semantic-link iri="{{laureate.value}}"></semantic-link></h2>
                  </bs-card-title>
                  <semantic-query 
                    query='
                    SELECT DISTINCT ?desc  WHERE {
                      {{laureate}} owl:sameAs ?entity.
                      FILTER (!isBlank(?entity))
                      SERVICE wiki:sparql {
                        ?entity <http://schema.org/description> ?desc.
                        FILTER(LANG(?desc)="en")
                      }    
                    } '
                    template='{{> template}}'>
                  <template id='template'>
                    {{#each bindings}}
                    <p style="font-size: smaller;">{{desc.value}}</p>
                    {{/each}}
                  </template>
                  </semantic-query>
                </div>
              </div>
            </bs-card-body>
          </bs-card>
        {{/each}}
      </template>
      </semantic-query>
    </div>
  </div>
</div>


