<style>

  .custom-card {
    margin: 5px;
    width: 100% !important;
  }
  
  .custom-page-header {
    padding: 16px 64px 16px 78px;
    background-color: var(--mp-color-dark-50);
    text-align: center;
  }
  
  .card-body {
    display: flex;
  }
  
  .DataTable--semantic-data-table {
    position: relative;
    height: auto;
    padding-top: 16px;
  }
  
  thead {
    display: none;
  }
  
  .knowledge-panel-trigger:hover .knowledge-panel-trigger-button {
    opacity: 1;
    visibility: visible;
  }
  
  .knowledge-panel-trigger-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  
  .KeywordTypeQuery--component  {
    position: sticky;
    top: 70px;
    z-index: 5;
    background: white;
  }
  
  </style>
  
  <template-fragment id='knowledgePanelFrame'>
    <mp-knowledge-panel-frame id='{{id}}' template='{{> template}}'>
      <template id='template'>
        {{#if iri}}
        <style>
          *[data-knowledge-panel-iri-example3="{{iri}}"] {
            border: 1px solid lightblue;
            box-shadow: 0 0 15px lightblue;
          }
        </style> 
        <div
            class='knowledge-panel-frame'
            data-flex-self='size-1of3'
        >
          <div class='knowledge-panel-frame__buttons'>
            <mp-event-trigger type='KnowledgePanel.Close' targets='["{{id}}"]'>
              <button class='knowledge-panel-frame__button'>
                <i class='fa fa-times'></i>
              </button>
            </mp-event-trigger>
          </div>
          <mp-knowledge-panel iri='{{iri}}'></mp-knowledge-panel>
        </div>
        {{/if}}
      </template>
    </mp-knowledge-panel-frame>
  </template-fragment>
  
  <div class='page'>
    <div class='custom-page-header'>
      <div style='margin-bottom: 16px;'>
        <img height='50px' src='/assets/nobel.svg'><br>
      </div>
      <span style='font-size: 30px;'><b><mp-label iri='{{page-resource}}'></mp-label></b></span>
      <semantic-query
        query='
          SELECT DISTINCT (GROUP_CONCAT(DISTINCT STR(?name) ; separator=", ") as ?laureates) ?category ?year (GROUP_CONCAT(DISTINCT STR(?motivation) ; separator=" & ") as ?motivations) WHERE {
              ?? <http://data.nobelprize.org/terms/category> ?category;
                <http://data.nobelprize.org/terms/year> ?year;
                ^<http://data.nobelprize.org/terms/nobelPrize> ?laureate;
                <http://purl.org/dc/terms/hasPart> ?LaureateAward.
            ?LaureateAward <http://data.nobelprize.org/terms/laureate> ?Laureate;
                          <http://data.nobelprize.org/terms/motivation> ?motivation.
            ?laureate rdfs:label ?name.
            FILTER(LANG(?motivation)="en")
          } GROUP BY ?category ?year' 
      template='{{> template}}'>
      <template id='template'>
        {{#each bindings}}
        <div class='page__body'>
        <h2>The Nobel Prize in <mp-label iri="{{category.value}}"></mp-label> {{year.value}} was awarded to {{laureates.value}} "{{motivations.value}}"</h2>
        </div>
        {{/each}}
      </template>
      </semantic-query>
    </div>
    <div class='page__body'>
      <div data-flex-layout='row stretch-stretch'>
        <div data-flex-self='md-full'>
          <div class="row row-cols-md-8">
            <semantic-query
              query='
                SELECT DISTINCT ?laureate ?motivation ?share (1/?share*100 as ?percent) WHERE {
                  BIND(?? as ?s)
                  ?s <http://purl.org/dc/terms/hasPart> ?LaureateAward.
                  ?LaureateAward <http://data.nobelprize.org/terms/laureate> ?laureate;
                                <http://data.nobelprize.org/terms/motivation> ?motivation;
                                <http://data.nobelprize.org/terms/share> ?share.
                  FILTER(LANG(?motivation)="en")
                }' 
              template='{{> template}}'>
            <template id='template'>
              {{#each bindings}}
                <bs-card class='custom-card'>
                  <bs-card-body>
                    <semantic-query 
                      query='
                        SELECT DISTINCT (REPLACE(STR(SAMPLE(?images)), "http", "https", "i") AS ?image) WHERE {
                          {{laureate}} owl:sameAs ?entity.
                          FILTER (!isBlank(?entity))
                          SERVICE wiki:sparql {
                            ?entity wdt:P18 ?images.
                          } 
                        }'
                      template='{{> template}}'>
                    <template id='template'>
                      {{#each bindings}}
                      <div style='padding-right: 16px;'>
                        <img src='{{image.value}}' alt='' style="height: 200px; width: 180px; object-fit: cover;">
                      </div>
                      {{/each}}
                    </template>
                    </semantic-query>
                    <div> 
                      <bs-card-title class="text-break title-kp mb-1">
                        <semantic-link iri="{{laureate.value}}"></semantic-link>
                      </bs-card-title>
                      <semantic-query 
                        query='
                        SELECT DISTINCT ?desc  WHERE {
                          {{laureate}} owl:sameAs ?entity.
                          FILTER (!isBlank(?entity))
                          SERVICE wiki:sparql {
                            ?entity <http://schema.org/description> ?desc.
                            FILTER(LANG(?desc)="en")
                          }    
                        } '
                        template='{{> template}}'>
                      <template id='template'>
                        {{#each bindings}}
                        <p style="font-size: smaller;">{{desc.value}}</p>
                        {{/each}}
                      </template>
                      </semantic-query>
                      <p><b>Motivation:</b> {{motivation.value}}</p>
                      
                      <semantic-query 
                        query='
                        PREFIX wiki: <https://wikidata.metaphacts.com/>
                        SELECT DISTINCT ?affiliation  WHERE {
                          {{laureate}} <http://dbpedia.org/ontology/affiliation> ?affiliation.
                        } '
                        template='{{> template}}'>
                      <template id='template'>
                        <span><b>Affiliation: </b> </span>
                        {{#each bindings}}
                        {{#if @first}} {{else}}, {{#if @last}} {{else}} {{/if}} {{/if}}
                        <mp-label iri="{{affiliation.value}}"></mp-label>
                        {{/each}}
                      </template>
                      </semantic-query>
                    </div>
                    <div data-flex-layout="column justify-right">
                      <div class='col-sm-8'>
                      </div>
                      <div class='col-sm-4' style='margin-top: 180px;' data-flex-layout="row center-right">
                        <div style='position: absolute; top: 8px; right: 8px;'>
                          <mp-knowledge-panel-trigger iri='{{laureate.value}}' target='knowledge-panel'>
                            <button class='btn btn-link btn-sm' style='text-align: end;'>
                              <span class='material-symbols-outlined'>info</span>
                            </button>
                          </mp-knowledge-panel-trigger>
                        </div>
                        <span style="color: #cea152;"><b>Prize share:</b> 1/{{share.value}} ({{number-toFixed percent.value 0}}%)</span>
                      </div>
                    </div>
                  </bs-card-body>
                </bs-card>
              {{/each}}
            </template>
            </semantic-query>
          </div>
        </div>
        {{> ::knowledgePanelFrame id='knowledge-panel'}}   
      </div>
      <br>
      <semantic-query
        query='
          PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
          SELECT DISTINCT ?year WHERE {
            ?? <http://data.nobelprize.org/terms/year> ?year;
          }' 
      template='{{> template}}'>
      <template id='template'>
        {{#each bindings}}
        <span style='font-size: 25px; color: #cea152; padding-bottom: 16px;'>Other Nobel prizes in the year {{year.value}}</span>
        {{/each}}
      </template>
      </semantic-query>
      <div data-flex-layout='row stretch-stretch'>
        <div data-flex-self='md-full'>
          <semantic-table
            query='
            SELECT DISTINCT ?nobel ?laureate (1/?Share*100 as ?share) WHERE {
              ?? <http://data.nobelprize.org/terms/year> ?year.
              ?s ?p ?year.
              ?s <http://data.nobelprize.org/terms/laureate> ?laureate.
              ?s ^<http://purl.org/dc/terms/hasPart> ?nobel.
              ?laureate ^<http://data.nobelprize.org/terms/laureate>/<http://data.nobelprize.org/terms/share> ?Share.
              FILTER(?nobel != ??)
            } ORDER BY ASC (?nobel)'
            options='{"enableGrouping": false, "showFilter": false, "groupingOptions": {"groupedBy": ["nobel"], "showOnlyAggregatedValue": true} }'
            column-configuration='[
              {"variableName": "nobel", "displayName": "Nobel", "cellTemplate": "{{> template}}"} 
            ]'>
            <template id='template'>
              <div class='row'>
                <div class='col-sm-6'>
                  <div style='display: flex; flex-direction: row;' >
                  <!-- image -->
                    <div style='padding-right: 8px;'>
                      <img height='25' src='/assets/nobel.svg'>
                    </div>
  
                    <!-- header & category -->
                    <div>
                      <h5><b><semantic-link iri="{{nobel.value}}"></semantic-link></b><br></h5> 
  
                      <semantic-query 
                        query='SELECT ?category WHERE { 
                                {{nobel}} <http://data.nobelprize.org/terms/category> ?Category.
                                ?Category rdfs:label ?category.
                              }'
                        template='{{> template}}'>
                        <template id='template'>
                          {{#each bindings}}
                          <h6><b>{{category.value}}</b></h6>
                          {{/each}}
                        </template>
                      </semantic-query>
  
                    </div>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <semantic-query 
                    query='
                      PREFIX wdt: <http://www.wikidata.org/prop/direct/>
                      PREFIX wd: <http://www.wikidata.org/entity/>
                      PREFIX wiki: <https://wikidata.metaphacts.com/>
                      SELECT ?laureate ?motivation (REPLACE(STR(SAMPLE(?images)), "http", "https", "i") AS ?image) WHERE {
                        {{nobel}} <http://purl.org/dc/terms/hasPart>/<http://data.nobelprize.org/terms/laureate> ?laureate.
                        ?laureate <http://data.nobelprize.org/terms/laureateAward> ?laureateAward.
                        ?laureateAward <http://data.nobelprize.org/terms/motivation> ?motivation.
                        ?laureate owl:sameAs ?entity.
                          FILTER(LANG(?motivation)="en")
                          FILTER (!isBlank(?entity))
                          OPTIONAL {
                            SERVICE wiki:sparql {
                            ?entity wdt:P18 ?images.
                          } 
                        }
                      } GROUP BY ?laureate ?motivation'
                    template='{{> template}}'>
                    <template id='template'>
                      {{#each bindings}}
                      <div class='row' >
                        <div class='col-sm-2' style='text-align: end;' >
                          {{#if image.value}}
                          <img src='{{image.value}}' alt='' style="height: 35px; width: 35px; object-fit: cover;">
                          {{/if}}
                        </div>
                        <div class='col-sm-10'>
                          <div>
                            <h5><b><mp-knowledge-panel-trigger target='second' iri='{{laureate.value}}'></mp-knowledge-panel-trigger></b></h5> 
                            <p>{{motivation.value}}</p>
                          </div>
                        </div>
                      </div>
                      {{/each}}
                    </template>
                  </semantic-query>
                </div>
              </div>
            </template>
          </semantic-table>
        </div>
        <mp-knowledge-panel-frame id='second'></mp-knowledge-panel-frame>
      </div>
    </div>
    
  </div>